/* Basic body styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(2, 0, 36);
    /* Background gradient */
    background: linear-gradient(90deg, rgba(44, 52, 45, 1) 0%, rgb(83, 54, 13) 50%, rgba(44, 52, 45, 1) 100%);
}

/* Make container elements wider */
.container {
    text-align: center;
    width: 95%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 25px;
    margin-bottom: 25px;
    font-weight: 800;
    color: bisque;
}

/* Numerical health display styles */
#healthValue {
    font-size: 20px;
    font-weight: bold;
    color: #ff4d4d;
    /* Bright red color for health display */
    text-shadow: 1px 1px 2px #000;
    /* Adding a subtle shadow for better visibility */
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff4d4d;
    display: inline-block;
}

/* Adjusting health container for better alignment */
#healthContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Adding some styles for the game area when it's hidden */
.game-area.hidden {
    display: none;
}

.game-intro,
.game-area {
    margin-top: 25px;
}

input,
select,
button {
    margin: 15px;
    padding: 15px;
    font-size: 16px;
}

input,
select {
    width: auto;
    padding: 5px 10px;
}

/* Game introduction styles */
.game-intro {
    background-color: rgba(242, 226, 226, 0.1);
    border: 2px solid bisque;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: bisque;
}

.game-intro p {
    font-size: 18px;
    margin-bottom: 15px;
}

#playerName {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid bisque;
    border-radius: 5px;
    background-color: rgba(242, 226, 226, 0.555);
    color: rgb(2, 2, 2);
    font-weight: 800;
}

#difficulty {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid bisque;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
}

/* Hover button */
button {
    background-color: #cabd0b;
    border-style: double;
    color: rgb(78, 46, 6);
    border: double;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: hsl(118, 96%, 50%);
}

.hidden {
    display: none;
}

/* Event images */
.event-image {
    width: 66%;
    height: 66%;
    flex-wrap: wrap;
}

/* Frame style for dynamically created images */

.framed {
    border: 5px solid bisque;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
    display: block;
    margin: 10px auto;
    max-width: 100%;
}


/* Style for event descriptions */
.event-description {
    color: bisque;
    font-family: 'Georgia', 'Palation Linotype';
    font-size: 20px;
    margin: 10px 0;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;
}

#playerNameDisplay {
    color: bisque;
    font-weight: 800;
    font-size: 20px;
}

#turnCounter {
    margin-left: 20px;
    font-weight: 800;
    color: bisque;
    font-size: 20px;
}

/* Media query: tablets and larger (768px and larger) */
@media screen and (min-width: 768px) {

    .container {
        width: 80%;
    }

    input,
    select,
    button {
        width: auto;
        padding: 5px 10px;
        font-size: 16px;
    }

    .status-bar {
        flex-direction: row;
        align-items: center;
    }

    .playerHealth-bar {
        width: 60%;
    }

    #turnCounter {
        margin-left: 10px;
    }
}

/* Media query: laptops and larger (992px and larger) */
@media screen and (min-width: 992px) {

    .container {
        width: 75%;
    }

    input,
    select,
    button {
        width: auto;
        padding: 5px 10px;
        font-size: 16px;
    }

    .status-bar {
        flex-direction: row;
        align-items: center;
    }

    .playerHealth-bar {
        width: 55%;
    }

    #turnCounter {
        margin-left: 15px;
    }
}

/* Media query: desktops and larger (1200px and larger) */
@media screen and (min-width: 1200px) {
    .container {
        width: 70%;
    }

    input,
    select,
    button {
        width: auto;
        padding: 5px 10px;
        font-size: 20px;
    }

    .status-bar {
        flex-direction: row;
        align-items: center;
    }

    .playerHealth-bar {
        width: 50%;
    }

    #turnCounter {
        margin-left: 25px;
    }
}